
    <div class="row">
        <div class="col-md">
            <a class="navbar-brand" href="/index.html">
                logo
            </a>
        </div>
        <div class="col-md align-items-end">
            {% include social.html %}
        </div>
    </div>

    <div class="row align-items-center">
            <a class="display-1 text-center" href="">
                MAINFRAME GAMES
            </a>
       
    </div>

    
   
    
   <div class="row">

    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        
        
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        
            <ul class="navbar-nav">
                {% for item in site.data.navigation %}
                    <li class="nav-item elementos-nav">
                    <a href="{{item.link}}">{{item.name}}</a>
                     </li>
                {% endfor %}
            </ul>
        </div>
    
</nav>

</div>
