
body{
  color: white;
  background-image: url(/assets/images/background.png)
}

.current {
  color:green;
}

#prueba {
  color:green;
}

.elementos-nav{
  padding-left: 5px;
}
#brand{
  font-family: "Fira Code", monospace;
}
body {
  font-family: 'Roboto', sans-serif !important;
  //background-color: $gray-800;
  //background-image: linear-gradient(black, grey);
}

h1{
  padding-top: 5px;
}