.current {
  color:green;
}

#prueba {
  color:green;
}

#brand{
  font-family: "Fira Code", monospace;
}
body {
  font-family: 'Roboto Light', sans-serif !important;
  //background-color: $gray-800;
  //background-image: linear-gradient(black, grey);
}

h1{
  padding-top: 5px;
}